@import '../styles/utils/variables.scss';

.tag {
    color: $color-secondary;
    background-color: $color-primary;
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 30px;
    
    @media (max-width: 900px) {
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
        line-height: 18px;
    }
    
    @media (max-width: 600px) {
        font-size: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (max-width: 400px) {
        font-size: 6px;
        padding-left: 5px;
        padding-right: 5px;
    }

    @media (max-width: 300px) {
        font-size: 5px;

    }
}